@using CodeWithMukesh.Areas.Admin.Pages.Roles
@model IEnumerable<RoleViewModel>
<table class="table table-striped" id="roleTable">
    <thead>
        <tr>
            <th>
                @localizer["Role"]
            </th>
            <th>
                @localizer["Id"]
            </th>
            <th colspan="3" style="width:10%" >
                @localizer["Actions"]
            </th>
            
        </tr>
    </thead>
    <tbody>

        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Name
                </td>
                <td>
                    @role.Id
                </td>
                <td>
                    <a onclick="editRole('@role.Id')"  class="btn bg-success">
                        <i class="fas fa-pencil-alt"></i> @localizer["Edit"]
                    </a>
                </td>
                <td>
                    <a onclick="editRolePermissions('@role.Id')" class="btn bg-warning">
                        <i class="fas fa-wrench"></i> @localizer["Permissions"]
                    </a>
                </td>
                <td>
                    <a onclick="deleteRole('@role.Id')"  class="btn bg-danger">
                        <i class="fas fa-trash-alt"></i> @localizer["Delete"]
                    </a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
<script>    

    function editRolePermissions(roleId)
    {
        console.log("edit role permissions.....", roleId);        
    }

    function editRole(roleId)
    {
        console.log("edit role .....", roleId);        
        let viewAll = document.getElementById("viewAll");
        viewAll.dispatchEvent(new CustomEvent('editRole', { 'detail': roleId  }) );
    }
    function deleteRole(roleId)
    {
        console.log("delete role ...", roleId);        
    }

</script>